@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    background: #ECEEF1;
}

.float-right {
    float: right;
}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.text-decoration-none {
    text-decoration: none;
    color: black;
}

.button-sign-in {
    padding: 0.5rem;
    margin-left: 0.7rem;
    color: white;
    border-radius: 0.3rem;
    margin-right: 2rem;
    background-color: #0077c5;
    font-family: 'PT Sans', sans-serif;
}

.icon-button-sign-in {
    margin-right: 0.5rem;
}