.header-wrapper {
    float: none;
    padding: 10px 30px 10px 30px;
    background: #0066ff;
    height: 60px;
}
.right-container {
    float: right;
    padding: 10px 30px 10px 30px;
    background: #62ad00;
}
.text-deco {
    text-decoration: none;
}
.SignInCss {
    background-color:#0077C5;
    border: solid 1px#0077C5;
    border-radius: 4px;
    color: white;
    height: 34px;
    padding: 20px;
    cursor: pointer;
    float: left;
}

.txt-left {
    float: left;
}
.display-flex {
    display: flex;
    
}